* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header */
header {
    background-color: #FF6900;
    white-space: 100%;
    margin-bottom: 30px;

}

header>div {
    align-items: center;
    display: flex;
}

.logo {
    width: 20%;
    margin: auto;
    padding: 2%;

}

/* main */
main>div {
    display: flex;
}


.img-b {
    display: none;
}

/* utility */
.dbg {
    border: 1px solid red;
    width: 30px;
    height: 30px;
}

.container {
    max-width: 1300px;
    width: 100% margin: 20px;
    padding: 20px 30px;
    margin: 10px auto;


}

.small-container {
    max-width: 900px;
    margin: auto;

}

.d-flex {
    display: flex;
}

.h-nav {
    justify-content: space-between;
}

.link-h {
    text-decoration: none;
    color: white;
    padding: 5px;
}

.awe-f {
    color: white;
    padding: 9%;
}

.card {
    position: relative;
    cursor: pointer;
    width: calc(100% / 3 - 30px);
    margin: 10px;
}

img {
    width: 100%;
    display: block;
}
/* footer */
footer {
    background-color: #1A1A1A;
    color: white;
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

footer div.d-flex.j-bet {
    margin: 10px;
}
.j-bet {
    flex-direction: row;
    justify-content: space-between;
}

span strong{
    color: red;
}
/* position selector */
.f-wrap {
    flex-wrap: wrap;
}

.j-center {
    justify-content: center;
}

.p-rel {
    position: relative
}

.p-abs {
    position: absolute;

}

.badge {
    bottom: 80px;
    left: 0;
    background-color: #FF0000;
    color: white;
    padding: 3px;

}

.info {
    bottom: 80px;
    left: 44px;
    background-color: #008000;
    color: white;
    padding: 3px;
}

.hearts {
    right: 0;
    top: 20px;
    text-align: center;
    padding-top: 2%;
    background-color: white;
    width: 30px;
    height: 30px;
    display: inline;
}
li {
    font-size: 10px;
    margin: 10px 10px 10px 0px;
    list-style: none;
    

}
/* hover */
.hearts:hover {
    color: #FF0000
}

.card:hover .img-a {
    display: none;
}

.card:hover .img-b {
    display: block;
}

li:hover {
    text-decoration: underline;
    color: white;
}