* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header */
header {
    background-color: #FF6900;
    white-space: 100%;
    margin-bottom: 30px;

}

header>div {
    align-items: center;
    display: flex;
} 

.logo {
    width: 20%;
    margin: auto;
    padding: 2%;

}

/* main */
main>div {
    display: flex;
}


.img1 {}

.img1-b {
    display: none;
}

.img2 {}

.img2-b {}

.img3 {}

.img3-b {}

.img4 {}

.img4-b {}

.img4-b {}

.img5 {}

.img5-b {}

.img6 {}

.img6-b {}
/* utility */
.dbg {
    border: 1px solid red;
    width: 30px;
    height: 30px;
}

.container {
    max-width: 1300px;
    width: 100%
    margin: 20px;
    padding: 20px 30px;
    

}

.small-container {
    max-width: 900px;
    margin: auto;
    
}

.d-flex {
    display: flex;
}

.h-nav {
    justify-content: space-between;
}

.link-h {
    text-decoration: none;
    color: white;
    padding: 5px;
}

.awe-f {
    color: white;
    padding: 9%;
}

.card {
    position: relative;
    cursor: pointer;
    width: calc(100% / 3);
}

img {
    width: 100%;
    display: block;
}

/* position selector */
.f-wrap{
    flex-wrap: wrap;
}

.j-center {
    justify-content: center;
}

.p-rel {
    position: relative
}

.p-abs {
    position: absolute;

}

.badge {
    bottom: 80px;
    left: 0;
    background-color: #FF0000;
    color: white;
    padding: 3px;

}

.info {
    bottom: 80px;
    left: 44px;
    background-color: #008000;
    color: white;
    padding: 3px;
}

.hearts {
    right: 0;
    top: 20px;
    text-align: center;
    padding-top: 2%;
    background-color: white;
    width: 30px;
    height: 30px;
    display: inline;
}

/* hover */
.hearts:hover {
    color: #FF0000
}

.card:hover .img1 {
    display: none;
}

.card:hover .img1-b {
    display: block;
}






