* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header */
header {
    background-color: #FF6900;
    white-space: 100%;

}

header>div {
    justify-content: space-around;
}

.logo {
    width: 20%;
}

/* main */

.img1 {}

.img1-b {
    display: none;
}

.img2 {}

.img2-b {}

.img3 {}

.img3-b {}

.img4 {}

.img4-b {}

.img4-b {}

.img5 {}

.img5-b {}

.img6 {}

.img6-b {}
/* utility */
.dbg {
    border: 1px solid red;
    width: 30px;
    height: 30px;
}

.container {
    max-width: 1200px;

}

.small-container {
    max-width: 800px;
}

.d-flex {
    display: flex;
}

.h-nav {
    justify-content: space-between;
}

.link-h {
    text-decoration: none;
    color: white;
}

.awe-f {
    color: white;
}

.card {
    position: relative;
    width: 30%;
    cursor: pointer;
}

img {
    width: 100%;
    display: block;
}

/* position selector */

.j-center {
    justify-content: center;
}

.p-rel {
    position: relative
}

.p-abs {
    position: absolute;

}

.badge {
    bottom: 30px;
    left: 0;
    background-color: #FF0000;
    color: white;
    padding: 3px;

}

.info {
    bottom: 30px;
    left: 44px;
    background-color: #008000;
    color: white;
    padding: 3px;
}

.hearts {
    right: 0;
    top: 20px;
    text-align: center;
    padding-top: 2%;
    background-color: white;
    width: 30px;
    height: 30px;
    display: inline;
}

/* hover */
.hearts:hover {
    color: #FF0000
}

.card:hover .img1 {
    display: none;
}

.card:hover .img1-b {
    display: block;
}






